.content h1 {
    font-size: 2em;  
}

.content h2 {
    font-size: 1.5em;
}

.content h3 {
    font-size: 1.25em;
}

.content h4 {
    font-size: 1.15em;
}

.content h5 {
    font-size: 1em;
}

.error {
    color:red;
}

.banner {
    display: block;
    width: 100%;
    margin: 10px auto;
}

.imgLeft {
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
}

.imgRight {
    float: right;
    margin-left: 15px;
    margin-bottom: 5px;
}

.centered {
    text-align: center;
}

.banner {
    margin: 15px auto;
    border-width: thick;
    background-color: #1C8E5A;
}

.content ul, ol {
    list-style-position: inside;
    margin-left: 5px;
}

#featuredTable {
    display: table;
    width: calc(100% + 30px);
    margin: 0 auto;
    border-spacing: 15px;
    border-collapse: separate;
    margin-left: -15px;
}

.projectTable {
    display: table;
    width:100%;
    margin: 0 auto;
    border-spacing: 15px;
}

#contribTable {
    display: table;
    width: 100%;
    margin: 0 auto;
    border-spacing: 20px;
}

.projectRow {
    display: table-row;
    width: 100%;
}

.projectCell {
    display: table-cell;
    width: 50%;
}

.featuredTableImage {
    display: block;
    border-width: thick;
    margin: 0 auto;
    width: 100%;
}

.projectTableImage {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.projectList {
    margin-left: 10%;
}

.footnote {
    font-size: .5em;
}

#contactArea {
    margin: auto;
    margin-top: 10px;
    width: 75%;
}

.contactRow {
    margin-bottom: 10px;
}

.contactButton {
    display: table;
    width: 150px;
    height: 30px;
    background-color: #CEDBD5;
    box-shadow: -1px 1px 3px #006E3C;
    text-align: center;
    border-radius: 4px;
}

.contactRow input, textArea {
    width: 100%;
    background-color:white;
    padding: 5px;
    border: 3px solid #1C8E5A;
    font-size: 1em;
}

.contactRow textArea {
    height: 12em;
}

.contactButtonWrapper {
    display:table-cell;
    vertical-align: middle;
}

.contactButton input {
    font-weight: bold;
    color: #006E3C;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.15em;
}

#contactSocialMedia {
    display:table;
    margin: auto;
    border-spacing: 5px;
    border-collapse: separate;
}

.contactCell {
    display:table-cell;
}